body{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3rem;
    background: rgb(210, 250, 255);
}
header{
    background: white;
    margin: none;
}
h1{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3em;
    text-transform: uppercase;
    padding-top:3rem;
    padding-bottom: 20px;
    text-align: center;
    text-size-adjust: auto;
    color: rgb(255, 153, 70);
}
h2{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-top: 1rem;
    color: rgb(255, 153, 70);

}

section{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    background: white;
    margin-top: 2rem;
}

img{
    float: left;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    width: 30%;
    min-width: 150px;
    max-width: 300px;
}
p{
    font-family:  'Open Sans', sans-serif;
    font-size: 1em;
}
p a{
    float: right;
    color:white;
    background: rgb(255, 153, 70);
    padding:0.75rem;
    border-radius: 20px;
    font-size: 1em;

}
a{
    text-decoration: none;
    font-weight: 300;
    color: rgb(129, 174, 182);
    font-size:1.1em;
}
a:hover{
    color: rgb(255, 179, 116);
}
p a:hover{
    background: rgb(129, 174, 182);
    color:white;
}

ul li{
    list-style-type: none;
}

ul li a{
    font-family:  'Open Sans', sans-serif;
}

footer{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
}

footer a{
    padding: 0.75rem;
    background: white;
    border-radius: 20px;
}

/************** Nav Styles ****************/
nav{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 1.2rem;
    background: rgb(129, 174, 182);
}

nav ul{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: auto;
}
nav ul li{
    flex: 1;
    list-style-type: none;
}
nav ul li a{
    color: white;
}