body{
    background: white;
}
/************** Typography ****************/
body{
    font-family: 'Barlow', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: #f16278;
    text-transform: uppercase;
}

a{
    font-family: 'Montserrat', sans -serif;
    color: #f16278;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover{
    color: #c03348;
}

ul li{
    list-style-type: none;
    font-size: 0.7rem;
}

/**************** Nav Style ****************/
nav{
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    margin: auto;
}
nav ul{
    display: flex;
    padding: 0.5rem;
}

ul li{
    flex: 1;
    text-align: center;
    justify-content: space-around;

}


/************** Body Style ****************/

#title{
    width: 100%;
    height: 100%;
    margin-top:13%;
    margin-bottom:10%;
}

#title img{
    display: block;
    align-content: center;
    margin: auto;
    width: 25%;
    min-width: 15rem;
}





/************* Mobile *************/

@media screen and (max-width: 700px){
    #title{
        margin-top:25%;
    }