<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    {{/*  imports "head.html" from the partials/ folder in layouts/  */}}
    {{/*  the second argument is the context for variables in "head.html" and using "." means use the same variable namespace as this document  */}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow|Montserrat:700" rel="stylesheet">

</head>
<body>
    <nav>
    {{ partial "navbar.html" (dict "context" . "originPage" "project") }}
    </nav>
   <!-- <div class="container"> -->
        <div class="content">
        <h1>{{ .Title }}</h1>
        
        {{/*  Each project has either a project image or a project video  */}}
        {{/*  The code below checks if there's a project video, and if so checks the type  */}}
        {{/*  Youtube videos and Vimeo videos are handled differently. If you have another video type 
            then you'll need to add code to handle that new video type  */}}
        {{/*  If there's no project video, the project image is displayed in the header  */}}
      
        {{ .Content }}
        {{/*  You can add more images and videos in the content as well! 
            Do that in the .md file for the project  */}}  
        </div>
      
        <div>
        {{ if .Params.projectVideo }}
            {{ if eq .Params.projectVideoType "youtube" }}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.projectVideo  }}?modestbranding=0&showinfo=0&rel=0" frameborder="0" allow="encrypted-media; picture-in-picture; fullscreen" allowfullscreen></iframe>    
                </div>
                {{ else if eq .Params.projectVideoType "vimeo" }}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ .Params.projectVideo  }}?title=0&byline=0&portrait=0"  frameborder="0" allow="encrypted-media; picture-in-picture; fullscreen" allowfullscreen></iframe>
                    </div>
                {{ else if eq .Params.projectVideoType "" }}
                    <p>projectVideoType not entered!!! </p>
                {{ else }}
                    <p>video streaming platform not yet supported! TODO: add code here for your new video platform</p>
            {{ end }}
        {{ else }}
            {{ if .Params.projectImage }}
                {{ if .Params.showImageOnProjectPage }}
                    {{ $img:= .Resources.GetMatch .Params.projectImage }}
                    <img class="media" src="{{ $img.RelPermalink }}" />
                {{ end }}
            {{ else }}
                <p>THERE IS NO PROJECT IMAGE OR PROJECT VIDEO ASSOCIATED WITH THIS PROJECT!!!</p>
                <p>TODO: ADD A PROJECT IMAGE OR PROJECT VIDEO</p>
        {{ end }}
        {{ end }}
        </div>
        

    </div>

    <footer>
        <h1>Contact Me</h1>
        <p>Email: &#106;&#099;&#104;&#105;&#101;&#110;&#064;&#117;&#099;&#100;&#097;&#118;&#105;&#115;&#046;&#101;&#100;&#117;</p>
        <p>Phone: (408)828-4945</p>
        <p id="socialmedia"><a href="https://www.linkedin.com/in/jolichien/"><i class="fab fa-linkedin"></i></a> <a href="https://www.instagram.com/jolisea/?hl=en"><i class="fab fa-instagram"></i></a> <a href="https://www.facebook.com/joli.chien.7"><i class="fab fa-facebook-square"></i></a></p>
    </footer>
    
</body>
</html>