/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

.extraMedia{
    display: block;
    margin: auto;
    width: 37.5%;
    min-width: 20em;
}

img{
    display: flex;
    width: 30%;
    
}

.media{
    width: 30%;
    min-width: 20em;
    margin: auto;
    padding-bottom: 10em;
}

.content{
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Barlow', sans-serif;
}

.content h1{
    padding-top: 1em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 2em;
}

.cultureBackground{
    background: linear-gradient(to bottom,  #6b566d 0%,#c98a8d 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b566d', endColorstr='#c98a8d',GradientType=0 ); /* IE6-9 */
    color: #FDEBF3;
}


.navbar{
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
    font-size: 0.9em;
}
.navbar-nav{
    position: fixed;
    opacity: 1;
    z-index: 1;
    width: 100%;
    margin: auto;
    background: white;

}

.navText{
    color:#F16278;
}

.navText:hover{
    color:rgb(160, 55, 71);
}


nav ul{
    display: flex;
    padding: 0.5rem;
    width: 100%;
}

nav ul li{
    flex: 1;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;

}

footer{
    background: white;
    padding-bottom: 2em;
}

footer h1{
    color: #F16278;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
}

footer p{
    color: #8C5C74;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    line-height: 0.7em;
    
}

#socialmedia a{
    color: #F16278;
    font-size: 2em;
}
#socialmedia a:hover{
    color:rgb(160, 55, 71);
}