/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

/********* GENERAL STYLES ***********/
.sectionTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    padding-bottom: 1em; 
    text-transform: uppercase;
}

.extraMedia{
    min-width: 15em;
    width: 40%;
    height: 40%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;
}

.media{
    display: block;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 6em;
}

.mediaformat{
    display: flex;
    padding-bottom: 6em;
    padding-top: 3em;
    justify-content: center;

}

.color .mediaformat, .boba .mediaformat{
    flex-wrap: wrap;
}


.content{
    padding-left: 15%;
    padding-right: 15%;
    font-family: 'Barlow', sans-serif;

}

.content h1{
    padding-top: 1.5em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 2em;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 1em;
    font-size: 2em;
    color: #F16278;
}

.scrolling-description{
    color: #593E4A;
    margin-bottom: 2em;
    font-family: 'Barlow', sans-serif;

}
 
#scrolling-title{
    font-size: 2em;
}


.scrolling-text{
    overflow: hidden;
}

#scrolling-link{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
    float: right;
    padding: 0.5em;
    border-radius: 1em;
    border-image-slice: 1;
    color: #F16278;
    border: solid 0.4em;
    margin-top: 20%;
    
    
}
#scrolling-link:hover{
    text-decoration: none;
    color: rgb(160, 55, 71); /*#f6f086 */
}

.scrolling-bg{
    background: white;
    padding-bottom: 2em;
    padding-top: 10%;
}

.scrolling-bg img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.dividers{
    margin-top: 30%;
    
}


.navbar{
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    list-style-type: none;
    font-size: 0.9em;
}
.navbar-nav{
    position: fixed;
    opacity: 1;
    z-index: 1;
    width: 100%;
    margin: auto;
    background: white;

}

.navText{
    color:#F16278;
}

.navText:hover{
    color:rgb(160, 55, 71);
}


nav ul{
    display: flex;
    padding: 0.5rem;
    width: 100%;
}

nav ul li{
    flex: 1;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    text-transform: uppercase;
}

.overview{
    line-height: 0.5em;
    padding-bottom: 1.5em;
}


#about-me{
    background: linear-gradient(to right, #f6f086 0%,#f388a3 100%); 
    padding-top: 3em;
    padding-bottom: 10%;
    overflow: hidden;
}

#about-me h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: #F16278;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom: 1em;
}

#about-me p{
    float: right;
    margin-right: 10%;
    margin-left: 55%;
}


footer{
    background: white;
    padding-bottom: 2em;
}

footer h1{
    color: #F16278;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding: 0.5em;
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
}

footer p{
    color: #8C5C74;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    line-height: 0.7em;
    
}

#socialmedia a{
    color: #F16278;
    font-size: 2em;
}
#socialmedia a:hover{
    color:rgb(160, 55, 71);
}


#title{
    width: 100%;
    height: 100%;
    margin-top:13%;
    margin-bottom:10%;
}

#title img{
    display: block;
    align-content: center;
    margin: auto;
    width: 25%;
    min-width: 15rem;
}


/************** PROJECT PAGE STYLES ******************/


.culture{
    background: linear-gradient(to bottom,  #6b566d 0%,#c98a8d 97%); 
    color: #FDEBF3;
}

.color{
    background: linear-gradient(to bottom, #f4b078 0%,#efda7e 100%); 
    color: #593E4A;
}

.apo{
    background: linear-gradient(to bottom, #4295aa 0%,#bfe5e2 100%); 
    color: #EFF4FB;
}

.lily{
    background: linear-gradient(to bottom, #2d9c81 0%,#91cd92 100%);
    color: #EFF8F5;
}
.boba{
    background: linear-gradient(to bottom, #9f7781 0%,#274c7f 100%);
    color: #ECF3FB;
}


/***************** RESPONSIVE *********************/

@media only screen and (max-width: 850px) {
    .mediaformat{
        flex-wrap: wrap;
        justify-content: center;
    }
    .extraMedia{
        margin:auto;
        min-width: 17em;
        padding-right: none;
        padding-left: none;
    }
}


@media only screen and (max-width: 700px) {
    .mediaformat{
        display: block;
    }
    .extraMedia{
        display: block;
        padding: 0.5em;
        min-width: 18em;
        margin-left: auto;
        margin-right: auto;
    }
    .dividers{
        margin-top: 25%;
    }

    #about-me p{
        float: none;
        margin: auto;
        padding-right: 10%;
        padding-left: 10%;
        padding-bottom: 1em;
    }
    h5{
        text-align: center;
        margin: auto;
    }
    .scrolling-text{
        margin-left: 10%;
        margin-right: 10%;
    }

    #title{
        margin-top:25%;
    }
}