{{ range $idx, $proj:= (.Scratch.Get "elements") }}
    {{ with $.Site.GetPage $proj }}
    <div class= "scrolling-bg" class="jumbotron scrolling-layout-row">
        <div class="container">
            <div class="row">
                {{ $img:= .Resources.GetMatch .Params.projectImage }}
                {{ $imgThumb := $img.Resize "x400" }}
                {{/*  Resizes and crops the project image to 400 X 400 so that we get a perfect square which loads quickly  */}}
                <div class="col-sm-6">
                    {{ if $imgThumb }}
                        <img class="img-fluid scrolling-layout-project-image" src="{{ $imgThumb.RelPermalink }}" alt="...">
                    {{ end }}
                </div>
                <div class="col-sm-6">
                    <div class="scrolling-text">
                        <h5 id="scrolling-title">{{ .Title }}</h5>
                        <p class="scrolling-description">{{ .Params.shortDescription }}</p>
                        <a id="scrolling-link" href="{{ .RelPermalink }}" >Read More</a>
                    </div>
                        <hr class="dividers">
                </div>
            </div>
        </div>
    </div>

        {{/*  <h2>{{ .Title }}</h2>
        <p>{{ .Params.shortDescription }}</p>
        {{ $img:= .Resources.GetMatch .Params.projectImage }}  */}}
        {{/*  .Params.projectImage is just the name of the file, but it isn't the file itself and also 
        doesn't tell us exactly where the file is. Instead of hardcoding the path, we use GetMatch to find the path  */}}
        {{/*  GetMatch returns the very first thing it finds when searching so don't have more than one file with the same name  */}}
        {{/*    */}}
        {{/*  <img src="{{ $img.RelPermalink }}" />  */}}


    {{ end }}
{{ end }}