<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    {{/*  imports "head.html" from the partials/ folder in layouts/  */}}
    {{/*  the second argument is the context for variables in "head.html" and using "." 
    means use the same variable namespace as this document  */}}
    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow|Montserrat:700" rel="stylesheet">
</head>
<body>
    {{ partial "navbar.html" (dict "context" . "originPage" "home") }}
    {{/*  partial takes two parameters: first parameter is a string, the second is an object  */}}
    {{/*  in this case, the second argument is a dictionary object  */}}
    {{/*  dict creates a new dictionary with a set of key-value pairs. 
        As many as you want, but they must be paired "key value key value key value" */}}

        <img  src="/logo.svg" />
        
    

        {{ .Scratch.Set "elements" .Site.Data.project_order.content }}
    <div id="works">
        {{ partial "scrolling-layout.html" . }}
    {{/*  {{ partial "card-layout.html" . }}  */}}
</div>


    {{ partial "scripts.html" }} 

    <section id="about-me" class="about-me">
            <h1>About Me</h1>
            
            <p>From a young age, bright colors have always fascinated me. I was an imaginative child that longed for pastel pink instead of the boring white that covered my bedroom walls and I dreamt of rainbows. Coloring was my favorite hobby and arts and crafts was always my favorite part of school. From the macaroni crafts to the chunky snowflakes that my parents proudly stuck on the fridge, my childhood self was obsessed with creating.</p>
            <p>Today, my love for creating has multiplied. Today, I am a designer that is passionate about graphic design. I believe that design is a integral part of all things in life; furniture is design, architecture is design, clothing is design, everything is the way it is because of the way that it was designed. My particular interest in design lies in the way that we can communicate complex ideas through simple aesthetics. Design is the outlet through which I express my love for creating and my work captures the essence of my identity while also maintaining a flexibility that molds to client needs.</p>
    </section> 

    <footer>
            <h1>Contact Me</h1>
            <p>Email: &#106;&#099;&#104;&#105;&#101;&#110;&#064;&#117;&#099;&#100;&#097;&#118;&#105;&#115;&#046;&#101;&#100;&#117;</p>
            <p>Phone: (408)828-4945</p>
            <p id="socialmedia"><a href="https://www.linkedin.com/in/jolichien/"><i class="fab fa-linkedin"></i></a> <a href="https://www.instagram.com/jolisea/?hl=en"><i class="fab fa-instagram"></i></a> <a href="https://www.facebook.com/joli.chien.7"><i class="fab fa-facebook-square"></i></a></p>
    </footer>

</body>
</html>